<component name="ArtifactManager">
  <artifact type="exploded-war" name="springcloud_study:war exploded">
    <output-path>$PROJECT_DIR$/target/springcloud_study-0.0.1-SNAPSHOT</output-path>
    <properties id="maven-jee-properties">
      <options>
        <exploded>true</exploded>
        <module>springcloud_study</module>
        <packaging>war</packaging>
      </options>
    </properties>
    <root id="root">
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="springcloud_study" />
        </element>
      </element>
      <element id="directory" name="META-INF">
        <element id="file-copy" path="$PROJECT_DIR$/target/springcloud_study-0.0.1-SNAPSHOT/META-INF/MANIFEST.MF" />
      </element>
      <element id="javaee-facet-resources" facet="springcloud_study/web/Web" />
    </root>
  </artifact>
</component>